body{
    background-color: rgb(196, 248, 183);
    margin: 0px;
    padding: 0px;
    
}

.container{
    
   height: 100%;
    border-radius: 25px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 30px;
    margin-bottom:30px;
    background-color: rgb(249, 252, 235);
    font-size: 20px;
    
   
    
    
}
h1{
    color:rgb(7, 114, 7);
}

header{
    margin: 10px;
    padding: 1px;
}

.main{
    margin: 0;
    padding:0;
    display: flex;
}

.section1{
    
    margin: 10px;
    padding: 1px;
    width: 625px;
   
}

.section2{
    margin: 10px;
    padding: 1px;
    width: 625px;

}

h5{
    margin: 7px;
    padding: 0;
}

.text-area{
    color: rgb(2, 56, 11);
    width: 500px;
}
.btn{
    width: 500px;
    height: 35px;
    background-color: rgb(7, 114, 7);
    border:none;
    font-size:16px;
    color: white;
}

.age{
    
    width: 460px;
    height: 22vh;
}
